doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon', href='#')
    script(src='/javascript/ugUtils.js')
  body
    block content
