h2 Login with social account

div(class="section")
    a(href='/auth/google' class="btn")
        i(class="google login") LOG IN WITH GOOGLE

div(class="section")
    a(href="/auth/facebook" class="btn")
        i(class="facebook login") LOG IN WITH FACEBOOK